<%= form_with(model: candidate_round, local: true) do |form| %>
  <% if candidate_round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate_round.errors.count, "error") %> prohibited this candidate_round from being saved:</h2>

      <ul>
      <% candidate_round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% round = Round.where(["id = :u", {u: @candidate_round.round_number}]).first %>
  <% candidate = Candidate.where(["id = :u", {u: @candidate_round.candidate}]).first %>

  <div class="form-group">
    <div class="field">
      <strong><label>Serial Number</label></strong>
      <label><%= candidate.serial_number %></label>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <strong><label><%= form.label :candidate %></label></strong>
      <label><%= candidate.candidate_name %></label>
      <%= form.hidden_field :candidate, value: @candidate_round.candidate %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <strong><label><%= form.label :round_number %></label></strong>
      <label><%= round.round_number %></label>
      <%= form.hidden_field :round_number, value: @candidate_round.round_number %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <label><%= form.label :total_votes %></label>
      <%= form.number_field :total_votes, class: "form-control"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= form.submit "Save Votes for Candidate", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
