<% round = Round.where(["id = :u", { u: @candidate_round.round_number }]).first %>
<%= link_to 'Back to Round', round, class: "btn btn-secondary" %>
<br>
<hr>
<br>
<h1>Editing Candidate Round</h1>

<%= render 'form', candidate_round: @candidate_round %>
