<h1>Candidate Rounds</h1>

<table>
  <thead>
    <tr>
      <th>Total votes</th>
      <th>Candidate</th>
      <th>Round number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidate_rounds.each do |candidate_round| %>
      <tr>
        <td><%= candidate_round.total_votes %></td>
        <td><%= candidate_round.candidate %></td>
        <td><%= candidate_round.round_number %></td>
        <td><%= link_to 'Show', candidate_round %></td>
        <td><%= link_to 'Edit', edit_candidate_round_path(candidate_round) %></td>
        <td><%= link_to 'Destroy', candidate_round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate Round', new_candidate_round_path %>
