<p>
  <strong>Total votes:</strong>
  <%= @candidate_round.total_votes %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @candidate_round.candidate %>
</p>

<p>
  <strong>Round number:</strong>
  <%= @candidate_round.round_number %>
</p>

<%= link_to 'Edit', edit_candidate_round_path(@candidate_round) %> |
<%= link_to 'Back', candidate_rounds_path %>
