<%= form_with(model: political_party, local: true) do |form| %>
  <% if political_party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(political_party.errors.count, "error") %> prohibited this political_party from being
        saved:</h2>

      <ul>
        <% political_party.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <label><%= form.label :party_code %></label>
      <%= form.text_field :party_code, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <label><%= form.label :party_name %></label>
      <%= form.text_field :party_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <label><%= form.label :party_color %></label>
      <%= form.text_field :party_color, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <label><%= form.label :party_symbol %></label>
      <%= form.text_field :party_symbol, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= form.submit "Save Political Party", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>