<%= link_to 'Back to Political Parties', political_parties_path, class: "btn btn-secondary" %>
<br>
<hr>
<br>
<h1>Editing Political Party</h1>
<br>
<%= render 'form', political_party: @political_party %>
