<br>
<br>
<h1>Political Parties</h1>
<br>
<table class="table">
  <thead>
    <tr align="center">
      <th>Party symbol</th>
      <th>Party code</th>
      <th>Party name</th>
      <% if user_signed_in? and current_user.has_role? :admin %>
        <th colspan="3"></th>
      <% else %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @political_parties.each do |political_party| %>
      <tr>
        <td align="center"><img src=<%= political_party.party_symbol %> height="48" width="48"></td>
        <td align="center"><%= political_party.party_code %></td>
        <td><%= political_party.party_name %></td>
        <% if user_signed_in? and current_user.has_role? :admin %>
          <td><%= link_to 'Show', political_party, class: "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_political_party_path(political_party), class: "btn btn-warning"  %></td>
          <td><%= link_to 'Destroy', political_party, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
        <% else %>
          <td><%= link_to 'Show', political_party, class: "btn btn-info" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

