<img src=<%= @political_party.party_symbol %> height="120" width="120" class="rounded mx-auto d-block">
<h3 style="text-align:center;"><strong><%= @political_party.party_name %></strong></h3>
<% if user_signed_in? and (current_user.has_role? :approved or current_user.has_role? :admin) %>
  <%= link_to 'Edit', edit_political_party_path(@political_party), class: "btn btn-warning" %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>State</th>
    <th>Constituency</th>
    <th>Candidate</th>
    <th>Votes</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% State.all.each do |state| %>
    <% pcs = ParliamentaryConstituency.where(["state = :u", {u: state.id}]) %>
    <% pcs.each do |pc| %>
      <% candidates = Candidate.where(["constituency = :u and political_party = :v", {u: pc.id, v: @political_party.id}]) %>
      <% if candidates != nil and candidates.length > 0 %>
        <tr>
          <td><%= state.state_name %></td>
          <td><%= "#{pc.pc_code} - #{pc.pc_name}" %></td>
          <td><%= candidates.first().candidate_name %></td>
          <td><%= candidates.first().total_votes %></td>
          <td><%= link_to 'Show', candidates.first(), class: "btn btn-info" %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>