<%= form_with(model: parliamentary_constituency, local: true) do |form| %>
  <% if parliamentary_constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parliamentary_constituency.errors.count, "error") %> prohibited this parliamentary_constituency from being saved:</h2>

      <ul>
      <% parliamentary_constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pc_code %>
    <%= form.text_field :pc_code %>
  </div>

  <div class="field">
    <%= form.label :pc_name %>
    <%= form.text_field :pc_name %>
  </div>

  <div class="field">
    <%= form.label :geometry_type %>
    <%= form.text_field :geometry_type %>
  </div>

  <div class="field">
    <%= form.label :geometry_coordinates %>
    <%= form.text_area :geometry_coordinates %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
