<h1>Editing Parliamentary Constituency</h1>

<%= render 'form', parliamentary_constituency: @parliamentary_constituency %>

<%= link_to 'Show', @parliamentary_constituency %> |
<%= link_to 'Back', parliamentary_constituencies_path %>
