<h1>Parliamentary Constituencies</h1>

<table>
  <thead>
    <tr>
      <th>Pc code</th>
      <th>Pc name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parliamentary_constituencies.each do |parliamentary_constituency| %>
      <tr>
        <td><%= parliamentary_constituency.pc_code %></td>
        <td><%= parliamentary_constituency.pc_name %></td>
        <td><%= link_to 'Show', parliamentary_constituency %></td>
        <td><%= link_to 'Edit', edit_parliamentary_constituency_path(parliamentary_constituency) %></td>
        <td><%= link_to 'Destroy', parliamentary_constituency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parliamentary Constituency', new_parliamentary_constituency_path %>
