<% if user_signed_in? and current_user.has_role? :admin %>
  <%= link_to 'New Candidate', new_candidate_path(constituency: @parliamentary_constituency.id), class: "btn btn-primary" %>
<% end %>
<% if user_signed_in? and (current_user.has_role? :approved or current_user.has_role? :admin) %>
  <%= link_to 'New Counting Round', new_round_path(constituency: @parliamentary_constituency.id), class: "btn btn-primary" %>
<% end %>

<br>
<br>
<h2 style="text-align:center;">
  <strong><%= "#{@parliamentary_constituency.pc_code} - #{@parliamentary_constituency.pc_name}" %></strong>
</h2>
<br>
<br>
<h4>
  <strong>Candidates</strong>
</h4>

<% total_votes_constituency = 0 %>
<% rounds = Round.where(["constituency = :u", {u: @parliamentary_constituency.id}]) %>
<table class="table">
  <thead>
  <tr align="center">
    <th scope="col">Political Party</th>
    <th scope="col">Serial Number</th>
    <th scope="col">Candidate Name</th>
    <th scope="col">Photograph</th>
    <th scope="col">Total Votes</th>
    <% if user_signed_in? and current_user.has_role? :admin %>
      <th colspan="3" scope="col"></th>
    <% else %>
      <th colspan="1" scope="col"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% Candidate.where(["constituency = :u", {u: @parliamentary_constituency.id}]).sort_by{ |obj| obj.serial_number }.each do |candidate| %>
    <% party = PoliticalParty.where(["id = :u", {u: candidate.political_party}]).first %>
    <tr>
      <td align="center">
        <img src=<%= party.party_symbol %> height="48" width="48"><br>
        <%= party.party_name %></td>
      <td align="center"><%= candidate.serial_number %></td>
      <td><%= candidate.candidate_name %></td>
      <td align="center"><img src=<%= candidate.photograph %> height="48" width="48"></td>
      <td align="center"><%= candidate.total_votes %></td>
      <% total_votes_constituency += candidate.total_votes.to_i %>
      <td><%= link_to 'Show', candidate, class: "btn btn-info" %></td>
      <% if user_signed_in? and current_user.has_role? :admin %>
        <td><%= link_to 'Edit', edit_candidate_path(id: candidate, constituency: @parliamentary_constituency.id), class: "btn btn-warning" %></td>
        <% if rounds.length == 0 %>
          <td><%= link_to 'Destroy', candidate, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td colspan="4" align="center"><strong>TOTAL</strong></td>
    <td align="center"><strong><%= total_votes_constituency %></strong></td>
    <td colspan="3"></td>
  </tr>
  </tbody>
</table>

<br>
<br>

<% if total_votes_constituency != 0 %>
  <div class="progress" style="height: 30px;">
    <% Candidate.where(["constituency = :u", {u: @parliamentary_constituency.id}]).sort_by{ |obj| obj.serial_number }.each do |candidate| %>
      <% party = PoliticalParty.where(["id = :u", {u: candidate.political_party}]).first %>
      <% party_color = "#" + party.party_color %>
      <% width = 0 %>
      <% if (candidate.total_votes != 0) %>
        <% width = candidate.total_votes.to_f * 100 / total_votes_constituency.to_f %>
      <% end %>
      <div class="progress-bar" style="height: 30px; width:<%= width %>%; background-color: <%= party_color %>;">
        <%= "#{party.party_code} (#{width.round(2)}%)" %>
      </div>
    <% end %>
  </div>
<% end %>
<br>
<br>
<h4>
  <strong>Counting Rounds</strong>
</h4>
<% total_votes_constituency %>
<table class="table">
  <thead>
  <tr align="center">
    <th scope="col">Serial Number</th>
    <th scope="col">Political party</th>
    <th scope="col">Candidate</th>
    <% min_bar = 0 %>
    <% if(rounds.length - 3 >= 0) %>
      <% min_bar = rounds.length - 3 %>
    <% end %>
    <% rounds[min_bar, rounds.length].each do |round| %>
      <th scope="col" align="center"><%= "ROUND ##{round.round_number}" %></th>
    <% end %>
    <th scope="col">Total Votes</th>
  </tr>
  </thead>
  <tbody>
  <% Candidate.where(["constituency = :u", {u: @parliamentary_constituency.id}]).each do |candidate| %>
    <% party = PoliticalParty.where(["id = :u", {u: candidate.political_party}]).first %>
    <tr>
      <td align="center"><%= candidate.serial_number %></td>
      <td align="center">
        <img src=<%= party.party_symbol %> height="48" width="48"><br>
        <%= party.party_name %>
      </td>
      <td align="center">
        <img src=<%= candidate.photograph %> height="48" width="48"><br>
        <%= candidate.candidate_name %>
      </td>
      <% rounds[min_bar, rounds.length].each do |round| %>
        <% candidate_round = CandidateRound.where(["round_number = :u and candidate = :v", {u: round.id, v: candidate.id}]).first %>
        <td align="center"><%= candidate_round.total_votes %></td>
      <% end %>
      <td align="center"><strong><%= candidate.total_votes %></strong></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td>
      <% rounds[min_bar, rounds.length].each do |round| %>
      <td align="center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to 'Show', round, class: "btn btn-info" %>
          <% if user_signed_in? and current_user.has_role? :admin %>
            <%= link_to 'Destroy', round, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          <% end %>
        </div>
      </td>
    <% end %>
    </td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
