<%= form_with(model: round, local: true) do |form| %>
  <% if round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.hidden_field :constituency, value: @constituency.id %>
      <strong><label><%= form.label :constituency %></label></strong>
      <label><%= form.label @constituency.pc_name %><br/></label>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= form.hidden_field :round_number, value: @rounds %>
      <strong><label><%= form.label :round_number %></label></strong>
      <label><%= form.label @rounds %><br/></label>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <strong><label><%= form.label :total_votes %></label></strong>
      <label><%= form.label @round.total_votes %></label>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr align="center">
      <th>Serial Number</th>
      <th>Political Party</th>
      <th>Party Symbol</th>
      <th>Candidate Name</th>
    </tr>
    </thead>

    <tbody>
    <% @candidates.each do |candidate| %>
      <% party = PoliticalParty.where(["id = :u", { u: candidate.political_party }]).first %>
      <tr>
        <td align="center"><%= candidate.serial_number %></td>
        <td align="center"><img src=<%= party.party_symbol %> height="48" width="48"></td>
        <td align="center"><%= party.party_code %></td>
        <td><%= candidate.candidate_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit "Save Round", class: "btn btn-primary"  %>
  </div>
<% end %>
