<h1>Rounds</h1>

<table>
  <thead>
    <tr>
      <th>Round number</th>
      <th>Total votes</th>
      <th>Constituency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.round_number %></td>
        <td><%= round.total_votes %></td>
        <td><%= round.constituency %></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path %>
