<% constituency = ParliamentaryConstituency.where(["id = :u", { u: @round.constituency }]).first %>
<%= link_to 'Back to Constituency', constituency, class: "btn btn-secondary" %>
<br>
<hr>
<br>
<h1>New Round</h1>
<br>
<%= render 'form', round: @round %>

