<% constituency = ParliamentaryConstituency.where(["id = :u", {u: @round.constituency }]).first %>
<%= link_to 'Back to Constituency', constituency, class: "btn btn-secondary" %>
<br>
<hr>
<br>
<h3><strong><%= "Parliamentary Constituency #{constituency.pc_code} - #{constituency.pc_name}" %></strong></h3>
<br>
<p>
  <strong>Round Number:</strong>
  <%= @round.round_number %>
</p>

<p>
  <strong>Total Votes:</strong>
  <%= @round.total_votes %>
</p>

<table class="table">
  <thead>
  <tr align="center">
    <th scope="col">Serial number</th>
    <th scope="col">Political Party</th>
    <th scope="col">Candidate</th>
    <th scope="col">Total votes</th>
    <% if user_signed_in? and (current_user.has_role? :approved or current_user.has_role? :admin) %>
      <th colspan="1"></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% CandidateRound.where(["round_number = :u", { u: @round.id}]).each do |round| %>
    <% candidate = Candidate.where(["id = :u", { u: round.candidate}]).first %>
    <% party = PoliticalParty.where(["id = :u", { u: candidate.political_party}]).first %>
    <tr>
      <td align="center"><%= candidate.serial_number %></td>
      <td align="center">
        <img src=<%= party.party_symbol %> height="48" width="48"><br>
        <%= party.party_code %>
      </td>
      <td align="center">
        <img src=<%= candidate.photograph %> height="48" width="48"><br>
        <%= candidate.candidate_name %>
      </td>
      <td align="center"><%= round.total_votes %></td>
      <% if user_signed_in? and (current_user.has_role? :approved or current_user.has_role? :admin) %>
        <td>
          <%= link_to 'Edit', edit_candidate_round_path(round), class: "btn btn-warning"  %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
