<br>
<h1>Users</h1>
<br>
<table class="table">
  <thead>
  <tr align="center">
    <th scope="col">Users</th>
    <th scope="col">Role</th>
    <th colspan="2" scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% User.all.each do |user| %>
    <tr>
      <% if user.has_role? :admin %>
        <td align="center"><p class="text-info"><%= user.email %></p></td>
        <td align="center"><p class="text-info">Administrator</p></td>
      <% elsif user.has_role? :approved %>
        <td align="center"><p class="text-success"><%= user.email %></p></td>
        <td align="center"><p class="text-success">Approved User</p></td>
      <% else %>
        <td align="center"><p class="text-danger"><%= user.email %></p></td>
        <td align="center"><p class="text-danger">Registered User Pending Approval</p></td>
      <% end %>
      <td>
        <% if not user.has_role? :approved and not user.has_role? :admin %>
          <%= link_to "Approve", users_approve_user_path(user_id: user.id), data: { confirm: "You sure?" }, class: "btn btn-success" %>
        <% end %>
      </td>
      <td>
        <% if not user.has_role? :admin %>
          <%= link_to "Destroy", users_destroy_url(user_id: user.id), data: { confirm: "You sure?" }, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
