<h1 style="text-align:center;"><strong>States</strong></h1>
<br>
<table class="table">
  <thead>
    <tr align="center">
      <th scope="col">State code</th>
      <th scope="col">State name</th>
      <th scope="col">Total pcs</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td align="center"><%= state.state_code %></td>
        <td><%= state.state_name %></td>
        <td align="center"><%= state.total_pcs %></td>
        <td><%= link_to 'Show', state, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>