<br>
<h2 style="text-align:center;"><strong><%= "#{@state.state_code} - #{@state.state_name}" %></strong></h2>

<h4 style="text-align:center;"><strong>Parliamentary Constituencies</strong></h4>

<table class="table">
  <thead>
  <tr align="center">
    <th scope="col">Constituency Code</th>
    <th scope="col">Constituency Name</th>
    <th scope="col">Leading Candidate</th>
    <th colspan="3" scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% ParliamentaryConstituency.where(["state = :u", { u: @state.id }]).each do |parliamentary_constituency| %>
    <tr>
      <td align="center"><%= parliamentary_constituency.pc_code %></td>
      <td><%= parliamentary_constituency.pc_name %></td>
      <% candidates = Candidate.where(["constituency = :u", { u: parliamentary_constituency.id }]) %>
      <% candidates = candidates.sort_by{ |obj| obj.total_votes } %>
      <% if candidates.length > 0 %>
        <% last_two = candidates.last(2) %>
        <% leading_votes = last_two[1].total_votes - last_two[0].total_votes %>
        <% candidate = last_two[1] %>
        <% party = PoliticalParty.find(candidate.political_party) %>
        <td><%= "#{candidate.candidate_name} of the #{party.party_code} is leading by #{leading_votes} votes.\n" %></td>
      <% else %>
        <td>Counting has not yet started.</td>
      <% end %>
      <td><%= link_to 'Show', parliamentary_constituency, class: "btn btn-info" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
