<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :constituency, value: @constituency.id %>
    <strong><label><%= form.label :constituency %></label></strong>
    <label><%= form.label @constituency.pc_name %></label>
  </div>

  <div class="field">
    <strong><label><%= form.label :serial_number %></label></strong>
    <%= form.number_field :serial_number, class: "form-control"  %>
  </div>

  <div class="field">
    <strong><label><%= form.label :candidate_name %></label></strong>
    <%= form.text_field :candidate_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <div class="field">
      <strong><label><%= form.label :photograph %></label></strong>
      <%= form.text_field :photograph, class: "form-control"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <strong><label><%= form.label :political_party %></label></strong>
      <%= form.collection_select(:political_party, PoliticalParty.order(:party_name), :id, :party_name, {:include_blank => false}, {:class => 'form-control'}) %>
    </div>
  </div>
  <%= form.hidden_field :total_votes, value: 0 %>

  <div class="actions">
    <%= form.submit "Save Candidate", class: "btn btn-primary" %>
  </div>
<% end %>
