<% constituency = ParliamentaryConstituency.where(["id = :u", { u: @candidate.constituency }]).first %>
<%= link_to 'Back to Constituency', constituency, class: "btn btn-secondary" %>
<br>
<hr>
<br>
<h1>Editing Candidate</h1>
<br>
<%= render 'form', candidate: @candidate %>
