<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Candidate name</th>
      <th>Total votes</th>
      <th>Photograph</th>
      <th>Political party</th>
      <th>Constituency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.serial_number %></td>
        <td><%= candidate.candidate_name %></td>
        <td><%= candidate.total_votes %></td>
        <td><%= candidate.photograph %></td>
        <td><%= candidate.political_party %></td>
        <td><%= candidate.constituency %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
