<% constituency = ParliamentaryConstituency.where(["id = :u", { u: @candidate.constituency }]).first %>
<% political_party = PoliticalParty.where(["id = :u", { u: @candidate.political_party }]).first %>
<%= link_to 'Back to Constituency', constituency, class: "btn btn-secondary" %>
<% if user_signed_in? and current_user.has_role? :admin %>
  <%= link_to 'Edit', edit_candidate_path(id: @candidate, constituency: constituency.id), class: "btn btn-warning" %>
<% end %>

<br>
<br>
<h3><strong><%= "Parliamentary Constituency #{constituency.pc_code} - #{constituency.pc_name}" %></strong></h3>
<br>
<h4><%= "Candidate #{@candidate.serial_number} - #{@candidate.candidate_name} (#{political_party.party_name})" %></h4>
<br>
<br>
<div class="row">
  <div class="col" align="centre">
    <img src=<%= political_party.party_symbol %> height="144" width="144" class="rounded mx-auto d-block">
    <br>
  </div>
  <div class="col">
    <img src=<%= @candidate.photograph %> height="144" width="144" class="rounded mx-auto d-block">
  </div>
</div>

<table class="table">
  <thead>
  <tr align="center">
    <th scope="col">Round Number</th>
    <th scope="col">Votes</th>
  </tr>
  </thead>
  <% candidate_rounds = CandidateRound.where(["candidate = :u", { u: @candidate.id }]) %>
  <tbody>
  <% candidate_rounds.each do |round| %>
    <tr align="center">
      <td scope="col"><%= Round.find(round.round_number).round_number %></td>
      <td scope="col"><%= round.total_votes %></td>
    </tr>
  <% end %>
  <tr align="center">
    <td scope="col"><strong>Total Votes</strong></td>
    <td scope="col"><strong><%= @candidate.total_votes %></strong></td>
  </tr>
  </tbody>
</table>