<br>
<br>
<h2>Log In</h2>
<br>
<br>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? %>

    <div class="form-group">
      <div class="field">
        <%= f.check_box :remember_me, class: "form-control" %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
